<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7pz55xmP2flgf-PiGPAeOs6QHahNfjCk</string>
	<key>GCM_SENDER_ID</key>
	<string>66556617662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nostalia.ai.videogenerator</string>
	<key>PROJECT_ID</key>
	<string>giddy-chat---ios</string>
	<key>STORAGE_BUCKET</key>
	<string>giddy-chat---ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:66556617662:ios:079f8e1e2125769e3dcfef</string>
</dict>
</plist>
